<div class="rounded h-max mx-32 mt-16">
    <div class="flex items-center justify-between h-max rounded-t px-4">
        <h2 class="title_mostSell">Lo mas buscado</h2>
        <button mat-button>
            <mat-icon>shortcut</mat-icon>
            Ver todos los productos
        </button>
    </div>
    <div class="px-4 py-5 flex gap-6 flex items-center justify-between flex-nowrap overflow-hidden">
        <mat-card class="w-72 h-80">
            <img mat-card-image src="#" alt="image" width="288" height="200" class="bg-gray-400">
            <mat-card-content>
                <h4>Titulo</h4>
                <p><strong>{{150 | currency}}</strong></p>
            </mat-card-content>
            <mat-card-footer>
                <div class="card-button flex items-center justify-between px-4 py-3">
                    <button mat-stroked-button class="bg-gray-900 text-indigo-50">
                        añadir al carrito
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                    <button mat-stroked-button>
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </mat-card-footer>
        </mat-card>
        <mat-card class="w-72 h-80">
            <img mat-card-image src="#" alt="image" width="288" height="200" class="bg-gray-400">
            <mat-card-content>
                <h4>Titulo</h4>
                <p><strong>{{150 | currency}}</strong></p>
            </mat-card-content>
            <mat-card-footer>
                <div class="card-button flex items-center justify-between px-4 py-3">
                    <button mat-stroked-button class="bg-gray-900 text-indigo-50">
                        añadir al carrito
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                    <button mat-stroked-button>
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </mat-card-footer>
        </mat-card>
        <mat-card class="w-72 h-80">
            <img mat-card-image src="#" alt="image" width="288" height="200" class="bg-gray-400">
            <mat-card-content>
                <h4>Titulo</h4>
                <p><strong>{{150 | currency}}</strong></p>
            </mat-card-content>
            <mat-card-footer>
                <div class="card-button flex items-center justify-between px-4 py-3">
                    <button mat-stroked-button class="bg-gray-900 text-indigo-50">
                        añadir al carrito
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                    <button mat-stroked-button>
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </mat-card-footer>
        </mat-card>
        <mat-card class="w-72 h-80">
            <img mat-card-image src="#" alt="image" width="288" height="200" class="bg-gray-400">
            <mat-card-content>
                <h4>Titulo</h4>
                <p><strong>{{150 | currency}}</strong></p>
            </mat-card-content>
            <mat-card-footer>
                <div class="card-button flex items-center justify-between px-4 py-3">
                    <button mat-stroked-button class="bg-gray-900 text-indigo-50">
                        añadir al carrito
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                    <button mat-stroked-button>
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </mat-card-footer>
        </mat-card>
        <mat-card class="w-72 h-80">
            <img mat-card-image src="#" alt="image" width="288" height="200" class="bg-gray-400">
            <mat-card-content>
                <h4>Titulo</h4>
                <p><strong>{{150 | currency}}</strong></p>
            </mat-card-content>
            <mat-card-footer>
                <div class="card-button flex items-center justify-between px-4 py-3">
                    <button mat-stroked-button class="bg-gray-900 text-indigo-50">
                        añadir al carrito
                        <mat-icon>shopping_cart</mat-icon>
                    </button>
                    <button mat-stroked-button>
                        <mat-icon>favorite</mat-icon>
                    </button>
                </div>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
